html{
    padding:0;
    margin:0;
    font-family:Inter, Arial, Helvetica, sans-serif;
    background: linear-gradient(#F5C37D, #D9ABD0);
}

.app{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-top: 40px;
    margin-left: 40px;
    font-weight: 900;
    font-size: 5rem;
    text-shadow: 1px 1px 5px black;
}

h2{
    text-align: center;
    font-weight: 200;
    color:grey;
}

#resultat{
    display: none;
}

form, #resultat{
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 24px;
    border-radius: 4px;
    background-color:white;
    box-shadow: 1px 1px 25px black;
}


input{
    margin:8px;
    width: 80%;
    border-color:grey;
    border-width:thin;
    border-radius: 4px;
    height: 80px;
    color:grey;
    font-size: 1rem;
    padding-left: 12px;
}

button{
    text-align: center;
    margin-top:16px;
    background-color: green;
    border:none;
    width:120px;
    height: 60px;
    color:white;
    font-size: larger;
    cursor: pointer;
}





