html{
    padding:0;
    margin:0;
    font-family:Inter, Arial, Helvetica, sans-serif;
    background: linear-gradient(#F5C37D, #D9ABD0);
}

.app{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1{
    margin-top: 40px;
    margin-left: 40px;
    font-weight: 900;
    font-size: 5rem;
    text-shadow: 1px 1px 5px black;
}

h2{
    text-align: center;
    font-weight: 200;
    color:grey;
}

.hidden{
    display: none;
    padding: 0 !important;
    background: transparent !important;
}

.column{
    display: flex;
    flex-direction: column;
    margin: 40px;
}

form{
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 24px;
    border-radius: 4px;
    background-color:white;
    box-shadow: 1px 1px 25px black;
}


input{
    text-transform:uppercase ;
    margin:8px;
    width: 80%;
    border-color:grey;
    border-width:thin;
    border-radius: 4px;
    height: 80px;
    color:grey;
    font-size: 1rem;
    padding-left: 12px;
}

#button {
    background: #007c2d;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}
#button:hover {
    background: #009b39;
    transform: translateY(2px);
}
#button:active {
    transform: scale(0.98);
}

#resultat {
    text-align: center;
    margin-top: 15px;
    padding: 15px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    font-weight: 500;
    animation: fadeIn 0.4s ease-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-5px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}







